* {
    box-sizing: border-box;
}

html, body, #content, main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(39, 1, 1);
    color: aliceblue;
    font-size: 1.4rem;
    height: 100%;
}

main {
    background: rgb(39, 1, 1) url("images/Dark\ Stained\ Timber\ Cubic\ 3464\ x\ 4500\ mm.jpg");
    padding-top: 75px;
}

.taglines p {
    margin: 0 0 60px ;
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 0.5rem;
}

.taglines p:last-of-type {
    font-size: 4.2rem;
    font-weight: bold;
}

.home-tabs ul {
    list-style: none;
    display: flex;
    margin: 75px auto 100px;
    padding-left: 0;
    max-width: 1100px;
    gap: 16px;
    justify-content: space-around;
}

.home-tabs button {
    appearance: none;
    transition: ease-in-out 0.1s;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    border: 3px solid aliceblue;
    font-size: 1.6rem;
    padding: 14px;
    width: 275px;
}

.home-tabs button:hover {
    appearance: none;
    background-color: aliceblue;
    color: rgb(39, 1, 1);
    font-weight: bold;
    border: 3px solid aliceblue;
    outline: 3px solid aliceblue;
    outline-offset: 3px;
}

.home-tabs li:nth-of-type(2) {
    transform: translateY(40px);
}

.info-container {
    background: rgb(37,21,21);
    background: linear-gradient(180deg, rgba(25,15,15,0) 0%, rgba(25,15,15,0.5) 75px, rgba(25,15,15,0.85) 400px);
    padding: 350px 20% 0;
}

.info-container h1 {
    font-size: 1.8em;
    text-align: center;
}

.info-container img {
    display: block;
    margin: 50px auto;
    outline: 7px double aliceblue;
    outline-offset: 3px;
}

